.card {
    background-color: darkgreen;
    border-radius: 5px;
    border-width: 1px;
    border-style: solid;
}

.other_card {
    float: left;
    width: 50px;
    height: 67px;

    margin-left: 7px;
    margin-top: 15px;
}

.my_card {
    float: left;
    width: 80px;
    height: 100px;

    margin-left: 16px;
    margin-top: 15px;
}