body {
    background-color: bisque;
}

#main_table {
    width: 1050px;
    height: 640px;

    padding: 20px;

    background-color: antiquewhite;

    border-width: 10px;
    border-color: burlywood;
    border-style: solid;
    border-radius: 20px 20px 20px 20px;
}

#poker_table {
    float: left;
    width: 800px;
    height: 600px;

    background-color: darkgreen;

    border-radius: 200px;
    border-style: groove;
    border-width: 15px;
    border-color: chocolate;

    box-shadow: 8px 8px 8px 8px grey;
}

#score_table {
    float: left;
    width: 170px;
    height: 600px;

    margin-left: 25px;

    background-color: brown;

    border-radius: 20px;
    border-style: double;
    border-width: 10px;
}

#total_batting_table {
    float: left;
    width: 120px;
    height: 150px;

    margin-left: 20px;
    margin-top: 10px;
    margin-right: 0;

    background-color: darkgreen;

    font-weight: bold;
    color: white;

}
