.other_user_img {
    float: left;
    width: 50px;
    height: 50px;

    margin: 8px 8px 8px 50px;

    border-radius: 10px;
}

.other_user_info {
    float: left;
    width: 170px;
    height: 45px;

    margin-top: 8px;

    color: white;
    font-size: 17px;
    text-align: left;
}

.my_img {
    float: left;
    width: 100px;
    height: 100px;

    margin: 8px 8px 8px 30px;

    border-radius: 20px;
}

.my_info {
    float: left;

    margin-top: 20px;

    font-size: 25px;
    color: white;
    text-align: left;
}

#my_name_info {
    width: 210px;
    height: 70px;
}

#my_money {
    font-size: 20px;
}